# XCA 데이터셋 - CSNet + Label Smoothing 학습 설정
tag: smooth

model:
  arch_name: csnet
  in_channels: 1
  learning_rate: 0.0002
  weight_decay: 0.00001
  num_classes: 2
  soft_label: true
  loss_type: bce
  log_image_enabled: true
  log_image_names:
    - '0000.png'
    - '0010.png'
    - '0019.png'

data:
  name: xca
  train_dir: data/xca_full/train
  val_dir: data/xca_full/val
  test_dir: data/xca_full/test
  crop_size: 320
  train_bs: 8
  num_samples_per_image: 8
  label_subdir: label_smooth

trainer:
  max_epochs: 400
  accelerator: gpu
  devices: 1
  precision: 16-mixed
  log_every_n_steps: 10
  check_val_every_n_epoch: 20
  gradient_clip_val: 1.0
  accumulate_grad_batches: 4