# XCA 데이터셋 - CSNet + Gaussian Boundary 학습 설정
tag: gaussian

model:
  arch_name: csnet
  in_channels: 1
  learning_rate: 0.0002
  weight_decay: 0.00001
  num_classes: 2
  loss_type: bce  # BCE loss for Gaussian soft labels
  log_image_enabled: true
  log_image_names:
    - '00036.png'
    - '00050.png'
    - '00063.png'

data:
  name: xca
  train_dir: data/xca_full/train
  val_dir: data/xca_full/val
  test_dir: data/xca_full/test
  crop_size: 320
  train_bs: 8
  num_samples_per_image: 8
  label_subdir: label_gaussian  # Gaussian Boundary soft label

trainer:
  max_epochs: 400
  accelerator: gpu
  devices: 1
  precision: 32-true
  log_every_n_steps: 10
  check_val_every_n_epoch: 20
  accumulate_grad_batches: 1
  gradient_clip_val: 1.0
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: val/dice
        mode: max
        save_last: true
        verbose: true

  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: experiments/csnet/xca_gaussian
      name: logs
      version: ""
